[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Eric Maniez
	email = e.maniez@weezevent.com
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
	home = "!git checkout preprod; git up"
	aliases = config --get-regexp ^alias\\.
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	po = "!git push origin $(git branch-name)"
	unpublish = "!git push origin :$(git branch-name)"
	plop = pull origin preprod
	rhH = "!git reset --hard HEAD~$1 #;"
	c = "!git commit -m \"$1\" #;"
[core]
	excludesfile = /nfs/2014/e/emaniez/zsh_config/.gitignore_global
