[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = emaniez
	email = eric.maniez@itsfactory.fr
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
	home = "!git checkout master; git up; git cleanup"
	aliases = config --get-regexp ^alias\\.
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	po = "!git push origin $(git branch-name)"
	unpublish = "!git push origin :$(git branch-name)"
	plom = "!git pull origin master"
	rhH = "!git reset --hard HEAD~$1 #;"
	c = "!git commit -m \"$1\" #;"
	me = log --author=Maniez --oneline
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[core]
	excludesfile = /Users/emaniez/zsh_config/.gitignore_global
	autocrlf = input
[init]
	templatedir = ~/.git-templates
[credential]
	helper = osxkeychain
